* {
    margin: 0;
    padding: 0;
}

/* global styles */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --heading-color: #001931;
    --text-color: #627382;
    --white-color: #ffffff;
    --green-color: #30B868;
}

h1,
h2,
h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: .3s ease-in-out all;
}

.btn:hover {
    /* transform: translateY(-2px); */
    gap: 20px;
}

.btn-primary {
    background-color: var(--green-color);
    color: var(--white-color);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

nav,
.hero-content,
.notes-container,
.second-brain-container,
.early-access-container {
    max-width: 1140px;
    margin: 0 auto;
}

/* main style */
nav {
    align-items: center;
    background-color: var(--white-color);
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

nav .menu a {
    color: #000000;
    font-weight: 500;
    line-height: 152%;
    transition: .3s ease-in-out all;
}

.menu a:hover {
    color: var(--green-color);
}

nav .logo img {
    width: 139px;
    height: 60px;
}

nav button:hover {
    transform: translateY(-2px);
}

#hero {
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 116px 0;
}

.hero-content .hero-badge {
    margin: 0px auto 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: var(--white-color);
    border-radius: 1000px;
    padding: 18px 22px;
    width: 229px;
}

.hero-badge .status {
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background-color: var(--green-color);
    box-shadow: 0 0 0 6px rgba(48, 184, 104, 0.35), 0 0 0 12px rgba(48, 184, 104, 0.15);
}

.hero-badge .badge-text {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 500;
}

.hero-content .hero-text {
    margin: 0px auto 32px;
    width: 770px;
}

.hero-text h2 {
    color: var(--white-color);
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.hero-text h2 span {
    color: var(--green-color);
}

.hero-text p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

#hero .hero-content .hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-button button img {
    width: 20px;
    height: 20px;
}

#notes {
    padding: 50px 120px;
}

#notes .notes-container {
    text-align: center;
}

.notes-container .section-header {
    margin-bottom: 44px;
}

.notes-container .section-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: 16px;
}

.notes-container .section-header p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
}

.notes-container .note-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.note-content .note-card {
    max-width: 322px;
    min-height: 300px;
    padding: 40px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    transition: .5s ease-in-out all;
}

.note-card .card-content .card-icon {
    padding: 14px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
    transition: transform .5s ease-in-out;
}

.note-card .card-icon img {
    width: 32px;
    height: 32px;
}

.note-card .card-content h3 {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card .card-content p {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}

.note-card:hover {
    transform: translateY(-10px);
}

.note-card:hover .card-icon {
    transform: scale(1.2);
}

#second-brain {
    padding: 120px;
}

#second-brain .second-brain-container {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.second-brain-container .second-brain-image img {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.second-brain-container .second-brain-content {
    width: 700px;
    height: 396px;
}

.second-brain-content .section-message {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.second-brain-content h2 {
    color: var(--heading-color);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.second-brain-content p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.second-brain-content .feature-list {
    list-style-type: none;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.second-brain-content .feature-list li {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

#early-access {
    padding: 0px 120px 120px;
}

#early-access .early-access-container {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
    text-align: center;
}

.early-access-container h2 {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.early-access-container p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
}

.early-access-container button {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    margin-top: 24px;
    margin-bottom: 16px;
}

footer {
    background-color: var(--heading-color);
    padding: 120px 120px 30px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-container .footer-logo {
    width: 350px;
}

.footer-container .footer-logo img {
    width: 139px;
    height: 60px;
}

.footer-container .social-links {
    width: 220px;
}

.social-links p {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-links ul {
    display: flex;
    gap: 16px;
}

.social-links ul li a {
    color: var(--heading-color);
    width: 20px;
    display: inline-block;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    padding: 3px;
}

.social-links a {
    transition: transform .3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
}

.footer-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.footer-bottom p {
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}