* {
    margin: 0;
    padding: 0;
}

/* global styles */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --heading-color: #001931;
    --text-color: #627382;
    --white-color: #ffffff;
    --green-color: #30B868;
}

h1, h2, h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 12px 16px;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

/* main style */
nav {
    align-items: center;
    width: 71%;
    max-width: 1140px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

nav .menu a {
    color: #000000;
    font-weight: 500;
    transition: .3s ease-in-out all;
}

.menu a:hover {
    color: var(--green-color);
}

nav .logo img{
    width: 139px;
    height: 60px;
}

#hero {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 116px;
}