* {
    margin: 0;
    padding: 0;
}

/* global styles */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --heading-color: #001931;
    --text-color: #627382;
    --white-color: #ffffff;
    --green-color: #30B868;
}

h1, h2, h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 12px 16px;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

/* main style */
nav {
    align-items: center;
    width: 71%;
    max-width: 1140px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

nav .menu a {
    color: #000000;
    font-weight: 500;
    transition: .3s ease-in-out all;
}

.menu a:hover {
    color: var(--green-color);
}

nav .logo img{
    width: 139px;
    height: 60px;
}

#hero {
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 116px 0;
}

#hero .hero-content {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#hero .hero-content .hero-badge {
    margin: 0px auto 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: var(--white-color);
    border-radius: 1000px;
    padding: 18px 22px;
    width: 229px;
}

.hero-badge .status {
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background-color: var(--green-color);
    box-shadow: 0 0 0 6px rgba(48, 184, 104, 0.35), 0 0 0 12px rgba(48, 184, 104, 0.15);
}

.hero-badge .badge-text {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 500;
}

#hero .hero-content .hero-text {
    margin: 0px auto 32px;
    width: 770px;
}

.hero-text h2 {
    color: var(--white-color);
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.hero-text h2 span {
    color: var(--green-color);
}

.hero-text p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

#hero .hero-content .hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-button button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-button button img {
    width: 20px;
    height: 20px;
}

.hero-button .button-outline {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

#notes {
    padding: 0 120px;
}

#notes .notes-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.notes-container .section-header {
    margin-bottom: 44px;
}

.notes-container .section-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: 16px;
}

.notes-container .section-header p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
}

.notes-container .note-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.note-content .note-card {
    width: 322px;
    padding: 40px 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.note-card .card-content .card-icon {
    padding: 14px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}

.note-card .card-icon img {
    width: 32px;
    height: 32px;
}

.note-card .card-content h3 {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card .card-content p {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}